.contact {
	background-color: $back-color;
	.link {
		color: $accent-color;
		font-weight: 700;
	}
    nav {
		background-color: $back-color;
		margin-bottom: 25px;
	}
	.nemain {
		
	}
	.contact{
        @media screen and (max-width: 576px){
            background-image: url(../img/buble3.png);
            background-repeat: no-repeat;
            background-size: 147%;
            background-position: 72% -11%;
	    }
    }
    
	  	
	footer {
		padding-top: 0;
	}S
	.nemain {
		height: auto;
		.born {
		}
	}
}
.bg-image{
    height: 50vh;
    background-image: url(../img/faq_head_img.jpg);
    background-position: 50% 0%;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (max-width: 991px){
        height: 40vh;
    }
    @media screen and (max-width: 768px){
        height: 30vh;
    }    
        
}
.big-contact {
    @media screen and (max-width: 576px){
        margin: 5vh auto;
    }
    p {	
        margin: 0 auto;
		width: 202px;
		font-size: 60px;
		font-weight: 600;
		border-bottom: 4px solid black;
        margin-bottom: 40px;
    }
}

.email {
	margin-top: 130px;
	text-align:	center;
	font-weight: 550;
	p {
		font-size: 30px;
	}
	span {
		font-size: 23px;
		color: $accent-color;
	}
}

.between {
	.left {
		position: relative;
		top: 15%;
		margin: 0 auto;
		width: 70%;
		height: 80vh;
	}
	form {
		padding-top: 80px;
		.group {
			width: 100%;
			margin-top: 20px;
			margin-bottom: 20px;
			padding-bottom: 10px;
			border-bottom: 1px solid black;
		}
		i {
			text-align: center;
			margin-top: 15px;
			color: $accent-color;
			width: 5%;
		}
		input {
			height: 30px;
			width: 94%;
			border: none;
			background-color: $back-color; 
			&::placeholder {
				border: none;
			}
			&:focus {
				border: none;
				outline: none;
				border-bottom: 1px solid $accent-color;
			}
		}
		textarea {
			width: 100%;
			border: none;
			background-color: $back-color; 
			&::placeholder {
				border: none;
				background-color: $back-color; 
			}
			&:focus {
				border: 1px solid $accent-color;
			}
		}
		.but {
			outline: none;
			border: none;
			text-decoration: none;
			color: white;
			width: 80px;
			height: 36px;
			padding-right: 15px;
			padding-left: 15px;
			padding-top: 3px;
			padding-bottom: 5px;
			background: linear-gradient(to right, #ff005a , #ff01ca);
			filter: blur(0.5px);
			border-radius: 17px;
			margin-top: 20px;
		}
		.group:nth-child(5) {
			margin-bottom: 0;
		}
		.control {
			font-size: 15px;
			color: $accent-color;
		}
	}
}
.address{
    h4,h5{
        text-align: center;
    }
}