html{
    overflow-x:hidden;
}
.MMM {
    overflow-x: hidden;
    h1{
        font-weight: 600;
    }
	background-color: #f2f2f2;
	nav {
		background-color: #f2f2f2;
        margin-bottom: 25px;
	}
	.link {
		color: $accent-color;
		font-weight: 700;
	}
	footer {
	  background-image: url(../img/buble2.png);
  	 background-size: 70%;
	  background-position: right bottom;
	  background-repeat: no-repeat;
	  padding-top: 0;
	}
	.coop {
		color: white;
		a:hover {
			color: $accent-color;
		}
	}
	.fp-tableCell {
		padding: 0;
		vertical-align: baseline;
	}
	.nemain {
		height: auto;
		.born {
			padding: 17vh 0px;
            @media screen and (max-width: 768px){
                padding: 20vh 0px;
            }
		}
	}
    @media screen and (min-width: 567px){
        overflow-x: hidden;
    }
}

.title {
	text-align:center;
}

.slide {
	min-width: 100vw;
}

.first {
    @media screen and (min-width: 768px){
        margin-top: 0;
	    margin-bottom: 20vh;    
    }
    @media screen and (min-width: 768px){
        margin-top: 15vh;
	    margin-bottom: 20vh;    
    }
	
    .slideshow{
        display: flex;
        justify-content: flex-end;
        img{
            width: auto;
            height: auto;
            
            max-width: 550px;
            max-height: 400px;
            @media screen and (min-width: 991px){
                margin-right: -100px;
            }
            @media screen and (max-width: 991px){
                max-width: 450px;
                max-height: 340px;
                margin-right: -70px;
            }
            @media screen and (max-width: 768px){
                max-width: 700px;
                max-height: 530px;
                margin-right: 0;
            }
            @media screen and (max-width: 576px){
                max-width: 450px;
                max-height: 340px;
                margin-right: 0;
            }
        }
        @media screen and (max-width: 768px){
            justify-content: center;
        }
    }
    .wrapper{
        /*@media screen and (max-width: 768px){
            margin: 20px auto;
        }*/
        @media screen and (max-width: 768px){
            
            width: 100%;
        }
        @media screen and (max-width: 576px){
            width: 100%;
        }
        width: 80%;
        //margin: right;
        .title {
	    	text-align: center;
	    	& > * {
	    		margin-bottom: 20px;
	    		font-weight: bold;
                line-height: normal;
	    	}	
	    }
	    .text {
	    	strong {
	    		font-size: 30px;
	    	}
            width: 70%;
            margin: 0 auto;
            text-align: justify;
            @media screen and (max-width: 991px){
                width: 80%;
            }
            @media screen and (max-width: 768px){
                width: 90%;
            }
            @media screen and (max-width: 576px){
                width: 100%;
                margin: 0;
            }
            
	    }
	    form {
            @media screen and (max-width: 991px){
                width: 90%;
            }
            @media screen and (max-width: 768px){
                width: 90%;
            }
            @media screen and (max-width: 576px){
                width: 100%;
                margin: 0;
            }
            width: 75%;
            margin: 0 auto;
	    	margin-top: 25px;
            button, input{
                @media screen and (max-width: 768px){
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }
                
	    	input {
                float: left;
	    		background-color: $back-color;
	    		border-radius: 15px;
	    		border: 1px solid black;
	    		color: black;
                padding: 3px 0px;
	    		padding-left: 10px;
                width: 120%;
	    		outline: none;
	    		&::placeholder {
	    			color: black;
	    		}
                @media screen and (max-width: 991px){
                    width: 100%;
                    display: block;
                    float: none;
                }
                @media screen and (max-width: 768px){
                    width: 100%;
                }
	    	}
	    	button {
                
                float: right;
                font-size: 9pt;
                padding: 6px 10px;
	    		background-color: black;
	    		border-radius: 15px;
	    		border: 1px solid black;
	    		color: white;
	    		outline: none;
                @media screen and (max-width: 991px){
                    width: 100%;
                    display: block;
                    float: none;
                }
                @media screen and (max-width: 768px){
                    width: 100%;
                }
	    	}
            .container-fluid{
                @media screen and (max-width: 768px){
                    padding: 0;
                }
                p{
                    @media screen and (max-width: 768px){
                        text-align: justify;
                    }
                }
            }
	    }
    }
	
}

.second {
    /*@media screen and (min-width: 576px){
        background-image: url(../img/markers/6.png);
        background-repeat: no-repeat;
        background-position: 14% 1%;
        background-size: 10%;
    }
    @media screen and (max-width: 576px){
        background-image: url(../img/markers/kap.png);
        background-repeat: no-repeat;
        background-position: 1% 4%;
        background-size: 34%;
    }*/
    padding-top: 50px;
    
	.title {
		text-align: center;
		margin-bottom: 10vh;
        background-color: transparent;
        h1{
            @media screen and (max-width: 768px){
                font-size: 23pt;
            }
        }
	}
    h4{
        font-weight: 600;
        @media screen and (max-width: 768px){
            padding-top: 30px;
            padding-bottom: 15px;
            text-align: center;
        }
    }
	.list {
        @media screen and (min-width: 576px){
            margin-top: 60px;    
        }
        
        margin-bottom: 0px;
        >div{
            display: flex;
            justify-content: flex-start;
            span{
                //padding-top: 2%;
                width: 50%;
                margin-left: 5%;
                @media screen and (max-width: 576px){
                    width: 70%;
                }
            }
		    img {
                width: 10%;
                height: 10%;
                margin: 10px;
		    }
            @media screen and (max-width: 576px){
                justify-content: center;
                margin: 5px 0px;
            }
        }
        
	}
    >container{
        padding-top: 30px;
    }
}

.image{
    padding: 25vh 0px;
}

.third {
    /*@media screen and (min-width: 576px){
        background-image: url(../img/markers/1.png);
        background-repeat: no-repeat;
        background-size: 10%;
        background-position: 12% 0%;
    
    }*/
    	margin-bottom: 50px;
	.title {
        margin: 20px 0px;
        h1{
            @media screen and (max-width: 576px){
                width: 90%;
                font-size: 23pt;
                text-align: center;
            }
        }
	}
    h4{
        text-align: center;
        font-weight: 600;
        margin: 5vh 0px;
    }
    .block{
        @media screen and (min-width: 768px){
            padding-top: 15vh;
            padding-bottom: 60px;    
        }
    }
    .element{
        @media screen and (max-width: 768px){
            margin: 0;
            height: 160px;
        }
        @media screen and (max-width: 576px){
            margin: 0;
            height: 290px;
        }
        width: 100%;
        padding: 10px;
        border: 1px solid rgba(0,0,0,.1);
        box-shadow: 1px 2px 2px rgba(0,0,0,.2);
        margin: 10px;
        display: flex;
        justify-content: center;
        img{
            /*width: 70%;
            height: 100%;*/
            height: 100%;
            width: 20px;
            max-width: 20px;
            @media screen and (max-width: 768px){
                width: 25px;
                max-width: 25px;
            }
            @media screen and (max-width: 576px){
                width: 30px;
                max-width: 25px;
            }
        }
        .body{
            display: flex;
            align-items: center;
            p{
                text-align: justify;
                margin: 0;
                padding-left: 10px;
            }
        }
    }
    #sm-show-title-1{
        display: none;
        @media screen and (max-width: 768px){
            display: block;
        }
    }
    #sm-hide-title-1{
        display: block;
        @media screen and (max-width: 768px){
            display: none;
        }
    }
}

.fourth {
	margin-top: 10vh;
	text-align: center;
	margin-bottom: 100px;
	h1 {
        width: 60%;
        margin: 15px auto;
		padding-bottom: 70px;
        @media screen and (max-width: 768px){
            width: 100%;
        }
	}
    .cost{
        @media screen and (max-width: 768px){
            margin-top: 5vh;
        }
        
    }
	.img-responsive {
		margin-bottom: 50px;
	}
    .roadmap{
        margin-bottom: 15vh;
        @media screen and (max-width: 768px){
            display: none;
        }
        
    }
    .table{
        .grid-container{
            width: 80%;
            margin: 0 auto;
            @media screen and (max-width: 991px){
                margin: 0;
                width: 100%;
            }
        }
        @media screen and (max-width: 768px){
            display: none;
        }
    }
    #sm-show-roadmap{
        @media screen and (min-width: 768px){
            display: none;
        }
        img.line{
            position: absolute;
            top: 2%;
            z-index: -1;
            height: 95%;
            @media screen and (max-width: 768px){
                left: 12.7%;
            }
            @media screen and (max-width: 576px){
                left: 14%;
            }
        }
        .el{
            overflow-y: hidden;
            z-index: 2;
            .img{
                width: 25%;
                float: left;
                img{
                    margin: 0;
                }
            }
            .text{
                display: flex;
                align-items: center;
                height: 60px;
                span{
                    text-align: left;
                }
            }
        }
    }
    #sm-show-link-to-table{
        a{
        background: -webkit-linear-gradient(left, #ff005a, #ff01ca);
        background: -o-linear-gradient(left, #ff005a, #ff01ca);
        background: linear-gradient(to right, #ff005a, #ff01ca);
            border-radius: 15px;
            border: none;
            color: white;
            width: 30%;
            font-size: 9pt;
            padding: 8px 10px;
            outline: none;
            @media screen and (max-width: 576px){
                display: block;
                width: 100%;
            }
        }
        @media screen and (min-width: 768px){
            display: none;
        }
    }
}

.fifth {
	.title {
		text-align: center;
		& > * {
			margin-bottom: 40px;
			font-weight: bold;
		}	
	}
	.form {
		text-align: center;
        form{
            @media screen and (max-width: 768px){
                width: 90%;
            }
            @media screen and (max-width: 576px){
                width: 100%;
            }
            
            width: 42%;
            margin: 0 auto;
            h5{
                padding-bottom: 20px;
            }
            >div{
                display: flex;
                justify-content: space-between;
                width: 100%;
                @media screen and (max-width: 576px){
                    display: block;
                }
            }
            
        }
    }
    input, button{
        margin: 10px 0px;
    }
	input {
		background-color: $back-color;
		border-radius: 15px;
		border: 1px solid black;
		color: black;
        padding: 3px 10px;
        width: 69%;
		outline: none;
		&::placeholder {
			color: black;
		}
        @media screen and (max-width: 576px){
            width: 100%;
            display: block;
        }
	}
	button {
		background: linear-gradient(to right, #ff005a , #ff01ca);
		border-radius: 15px;
		border: none;
		color: white;
        width: 30%;
		font-size: 9pt;
        padding: 8px 10px;
		outline: none;
        @media screen and (max-width: 576px){
            display: block;
            width: 100%;
        }
	}
}
